/* common styles  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: rgb(185, 243, 212);
    justify-content: center;
    align-items: center;
}

/* main container  */
.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    max-width: 1000px;
    min-height: 100vh;
    margin: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);

}

/*************** Left portion ***************/

.container .left {
    position: relative;
    background-color: rgb(0, 112, 77);
    padding: 40px;
}

.title {
    color: rgb(134, 31, 5);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}


/* Profile section  */
.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.profile .image-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile h2 {
    color: rgba(255, 255, 255);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profile h2 span {
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
    font-weight: 300;
}


/* Contact section  */
.contact {
    padding-top: 40px;
}


.contact ul {
    position: relative;
}

.contact ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contact ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(17, 223, 34);
}

.contact ul li span {
    color: rgb(255, 255, 255);
    font-weight: 300;
}

.contact ul li span a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* font-weight: 300; */
}

.contact ul li span a:hover {
    text-decoration: underline;
    color: rgb(39, 218, 134);
}


/* Education section  */
.contact.education li {
    margin-bottom: 15px;
}

.contact.education h5 {
    color: rgb(17, 223, 34);
    font-weight: 500;
}

.contact.education h4:nth-child(2) {
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.contact.education h4 {
    color: rgb(177, 168, 168);
    font-weight: 100;
}


/* Language section  */
.contact.language h4 {
    color: rgb(255, 255, 255);
}

.container .right {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}


/*************** Right portion ***************/

/* About section  */
.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

p {
    color: rgb(51, 51, 51);
}

.title2 {
    color: rgb(0, 112, 77);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;

}

.about ul {
    margin: 10px 0;
    padding-left: 20px;
}

.about ul li {
    list-style-type: square;
    margin-bottom: 3px;
}

.about ul .highlight {
    font-weight: bolder;
}

.about .project {
    margin-bottom: 50px;
}

.about .project h3 {
    font-size: 1.2em;
}

.about .project h5 {
    font-weight: 300;
    font-style: italic;
    padding: 5px 0;
}

/* responsiveness using media query  */
@media screen and (max-width: 873px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}